@if (clients$().length === 0) {
   <p>No clients found</p>
} 

@if (clients$(); as clients) {
   <ul class="space-y-2">
      @for (client of clients; track client.id) {
         <li>
            <a
               [routerLink]="[client.id]"
               [routerLinkActive]="['bg-gray-700', 'text-gray-100', 'border-gray-600']"
               class="list-item">
               <div class="flex items-center">
                  <span class="text-sm text-inherit">
                     {{ client.name }} ({{ client.end_date | date:'MM/yyyy' }})
                  </span>
               </div>
            </a>
         </li>
      }
      <li>
         <button type="button" [routerLink]="['add']" class="mt-4">New Client</button>
      </li>
   </ul>
}
