<ul class="space-y-1">
   <li *ngFor="let client of clients">
      <a
         [routerLink]="['/clients', client.id]"
         [routerLinkActive]="['bg-gray-700', 'text-gray-100', 'border-gray-600']"
         class="list-item">
         <div class="flex items-center">
            <span class="text-sm text-inherit">
               {{ client.name }}
            </span>
         </div>
      </a>
   </li>
   <li>
      <button type="button" [routerLink]="['/clients', 'add']">Add Client</button>
   </li>
</ul>

<div *ngIf="!clients?.length" class="empty-state">No clients found.</div>
