<!-- Client Container -->
<div class="space-y-4 md:space-y-0 md:grid md:grid-cols-12 md:gap-6">

   <!-- Client List -->
   <div class="md:col-span-2">
      <div class="card">
         <div class="card-header">
            <h2 class="card-title">Clients</h2>
         </div>
         <div class="card-body">
            <app-client-list></app-client-list>
         </div>
      </div>
   </div>

   <!-- Client Detail -->
   @if (clientId$ | async; as clientId) {
      <div class="md:col-span-8">
         <div class="card">
            <div class="card-header">
               <h2 class="card-title">Client Detail</h2>
            </div>
            <div class="card-body">
               <router-outlet></router-outlet>
            </div>
         </div>
      </div>
   }

</div>