<!-- Projects Container -->
<div class="space-y-4 md:space-y-0 md:grid md:grid-cols-12 md:gap-6">
   
   <!-- Projects List -->
   <div class="md:col-span-2">
      <div class="card">
         <div class="card-header">
            <h2 class="card-title">Projects</h2>
         </div>
         <div class="card-body">
            <app-project-list/>
         </div>
      </div>
   </div>

   <!-- Project Detail -->
   @if (projectId$ | async; as projectId) {
      <div class="md:col-span-8">
         <div class="card">
            <div class="card-header">
               <h2 class="card-title">Project Detail</h2>
         </div>
         <div class="card-body">
               <router-outlet></router-outlet>
            </div>
         </div>
      </div>
   }

</div>