<h1>Projects</h1>

<div *ngIf="loading$(); else content">Loading...</div>

<ng-template #content>
   <div *ngIf="error$(); else dataContent">
      {{ error$() }}
   </div>

   <ng-template #dataContent>
      <div class="grid grid-cols-[350px_1fr] gap-4">
         <div class="bg-slate-50 rounded-lg p-6 border border-slate-300 border-solid">
            <app-project-list [projects]="projects$()"></app-project-list>
         </div>
         <div class="bg-slate-50 rounded-lg p-6 border border-slate-300 border-solid">
            <app-project-detail (submitted)="saveProject($event)"></app-project-detail>
         </div>
      </div>
   </ng-template>
</ng-template>
