@if (skills$().length === 0) {
   <div class="text-gray-500">No skills found.</div>
}

@if (skills$(); as skills) {
   <ul class="space-y-2">
      @for (skill of skills; track skill.id) {
         <li>
            <a
               [routerLink]="['/skills', skill.id]"
               [routerLinkActive]="['bg-gray-700', 'text-gray-100', 'border-gray-600']"
               class="list-item">
               <div class="flex items-center">
                  <span class="text-sm text-inherit">
                     {{ skill.name }}
                  </span>
               </div>
            </a>
         </li>
      }
      <li>
         <button type="button" [routerLink]="['/skills', 'add']" class="mt-4">New Skill</button>
      </li>
   </ul>
}