<h1>{{ (client$ | async)?.name || 'New Client' }}</h1>

<form [formGroup]="form" (ngSubmit)="saveClient()">

   <div class="grid grid-cols-1 gap-4">

      <app-form-field id="name" label="Name" [form]="form" [required]="true">
         <input id="name" type="text" formControlName="name" />
      </app-form-field>

      <app-form-field id="description" label="Description" [form]="form" [required]="true">
         <textarea id="description" formControlName="description"></textarea>
      </app-form-field>

      <app-form-field id="website" label="Website" [form]="form">
         <input id="website" type="url" formControlName="website" />
      </app-form-field>

      <app-form-field id="logo_url" label="Logo URL" [form]="form">
         <input id="logo_url" type="url" formControlName="logo_url" />
      </app-form-field>

      <app-form-field id="start_date" label="Start Date" [form]="form" [required]="true">
         <input id="start_date" type="date" formControlName="start_date" />
      </app-form-field>

      <app-form-field id="end_date" label="End Date" [form]="form" [required]="true">
         <input id="end_date" type="date" formControlName="end_date" />
      </app-form-field>

      <div class="flex justify-end">
         <button type="submit" [disabled]="!form.valid">{{ buttonText }}</button>
      </div>

   </div>
</form>
